@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(204deg, 43%, 93%);
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

.h1 {
  color: hsl(179deg, 62%, 43%);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 2.6rem;
}

.h3-extra {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-bottom: 0.4rem;
}
.h3-extra span {
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 1.1rem;
  opacity: 0.5;
}

.h4 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
}

ul {
  color: #fff;
  font-size: 1.4rem;
}
ul li {
  line-height: 2rem;
  list-style: none;
  opacity: 0.75;
}

.text {
  color: hsl(218deg, 22%, 67%);
  font-size: 1.4rem;
  line-height: 2.6rem;
}

.button {
  align-items: center;
  background-color: hsl(71deg, 73%, 54%);
  border-radius: 0.5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
  color: #fff;
  display: flex;
  font-size: 1.6rem;
  height: 4.8rem;
  justify-content: center;
  margin-top: 2.6rem;
  text-decoration: none;
}

.main {
  border-radius: 0.8rem;
  box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
  margin: 0 auto;
  margin: 7.2rem auto 3rem;
  max-width: 63.5rem;
  overflow: hidden;
  width: 85%;
}
.main .section {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding: 2.8rem 2.4rem;
  width: 100%;
}
.main .section-first {
  background-color: #fff;
}
.main .section-first h3 {
  color: hsl(71deg, 73%, 54%);
}
.main .section-second {
  background-color: hsl(179deg, 62%, 43%);
  color: #fff;
}
.main .section-third {
  background-color: #4abebd;
  color: #fff;
}

footer {
  align-items: center;
  color: hsl(218deg, 22%, 67%);
  display: flex;
  height: 3rem;
  justify-content: center;
  text-align: center;
}
footer a {
  color: hsl(179deg, 62%, 43%);
  text-decoration: none;
}

@media (min-width: 768px) {
  body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }
  .main {
    align-content: center;
    display: grid;
    grid-template-areas: "first first" "second third";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, -webkit-max-content);
    grid-template-rows: repeat(2, max-content);
  }
  .main .section {
    padding: 4rem 4rem;
  }
  .section-first {
    grid-area: first;
  }
  .section-second {
    grid-area: second;
  }
  .section-third {
    grid-area: third;
  }
  .h1 {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }
  .h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.8rem;
  }
  .h3 {
    font-size: 1.8rem;
    margin-bottom: 1.1rem;
  }
  .h3-extra {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-bottom: 0.4rem;
  }
  .h3-extra span {
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 1.1rem;
    opacity: 0.5;
  }
  .text {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=styles.css.map */